:host {
  display: inline-block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.active {
    font-weight: 600;
  }

  .badge {
    margin-left: 0.5rem;
  }
}
